.Gun{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    min-width:  300px;
    border: 5px solid black;
    border-radius: 10px;
    color: white;
    width: 80%;
    padding-left: 10px;
    padding-right: 10px;

    background-color: #204056;
    img{
        width: 80px;
        height: 80px;
    }
    .info{
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 5px;
    }
    .status{
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 15px;
       background-color: black;
       padding: 10px;
       border-radius: 10px;
    }
    .status:active{
        background-color: #4d7072;

    }
    p{
        padding: 0%;
        margin: 0%;
    }
 
}                                                       